* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &:hover, &:focus {
    text-decoration: none;
    box-shadow: none;
    outline: none;
  }
}

@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/DINPro-Bold.woff') format('woff'),
  url('../fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/DINPro-Medium.woff') format('woff'),
  url('../fonts/DINPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/DINPro.woff') format('woff'),
  url('../fonts/DINPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'DIN Pro';
  overflow: hidden;
}
